.heading{
    font-size: 25px;
    position: absolute;
    left:5%;
}
.clock{
    width:25px;
    height:25px;
    display: inline-block;
    padding-left:"5px";
    margin-left: 5px;

}
.add{
    width:25px;
    height:25px;
   position: absolute;
   right:5%;
}
@media screen and (max-width: 600px)
{
    .heading{  font-size: 10px; }
    .svg-icon{
        width:15px;
        height: 15px;
    }
    .item{
        width:80px;
        border: 2px solid grey;
        background-color: rgb(238, 232, 232);
        height: 40px;
        font-size: 10px;
        margin-top: 3px;
    }
    
    .hello{
    position: relative;
    height:30px;
    width: 80px;
    }
   
}


.border{
    padding: 0px;
    margin: 0px;

}

@media screen and (min-width:600px)
{
    .hello{
        position: relative;
        height: 30px;
        width:360px;
        margin: 0px;
        padding: 0px;
       
    }
    .item{
        width:360px;
        border: 2px solid grey;
        height:60px;
        background-color: rgb(238, 232, 232);
        margin: 0px;
        padding: 0px;
        margin-top: 8px;
    }
}


.navbar{
    position: relative;
    height: 50px;
}
.navbar-brand{
    position: absolute;
    left:40%;
}
.navbtn{
    position: absolute;
    right:5%;
}

